<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ScholarshipProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>signupservlet</display-name>
    <servlet-name>signupservlet</servlet-name>
    <servlet-class>com.mvc.controller.signupservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signupservlet</servlet-name>
    <url-pattern>/signupservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.mvc.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentLoginServlet</display-name>
    <servlet-name>StudentLoginServlet</servlet-name>
    <servlet-class>com.mvc.controller.StudentLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentLoginServlet</servlet-name>
    <url-pattern>/StudentLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>studentlogout</display-name>
    <servlet-name>studentlogout</servlet-name>
    <servlet-class>com.mvc.controller.studentlogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentlogout</servlet-name>
    <url-pattern>/studentlogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminlogout</display-name>
    <servlet-name>adminlogout</servlet-name>
    <servlet-class>com.mvc.controller.adminlogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminlogout</servlet-name>
    <url-pattern>/adminlogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editservlet</display-name>
    <servlet-name>editservlet</servlet-name>
    <servlet-class>com.mvc.controller.editservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editservlet</servlet-name>
    <url-pattern>/editservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>finalselectedServlet</display-name>
    <servlet-name>finalselectedServlet</servlet-name>
    <servlet-class>com.mvc.controller.finalselectedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>finalselectedServlet</servlet-name>
    <url-pattern>/finalselectedServlet</url-pattern>
  </servlet-mapping>
</web-app>